*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --background: rgb(30, 30, 30);
    --second-background: rgb(27, 27, 27);
    --text: #fff;
}

@font-face {
    font-family: 'Franxurter';
    src: url('../../public/fonts/fran.ttf');
}

body {
    font-family: 'Franxurter', system-ui, sans-serif;
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
}

.containerPrin {
    padding-right: 15px;
    padding-left: 15px;
}

.separator {
    background-color: var(--background);
    padding-top: 300px;
    padding-bottom: 300px;
    z-index: 100;
}

.separator:nth-child(2n) {
    background-color: var(--second-background);
}

.underline {
    display: inline-block;
    margin: 0 auto;
    background-image: linear-gradient(90deg, rgb(255, 95, 244), rgb(255, 188, 65));
    background-size: 100% 3.5px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.bubble-blue {
    display: inline-block;
    position: absolute;
    top: -150px;
    left: 30px;
    filter: blur(120px) opacity(30%);
    width: 500px;
    height: 500px;
    background: #2583ff;
    border-radius: 100%;
}

.bubble-pink {
    position: absolute;
    top: 120px;
    right: 0px;
    overflow: hidden;
    filter: blur(120px) opacity(30%);
    width: 450px;
    height: 450px;
    background: #ed85ff;
    border-radius: 100%;
}

.green-gradient {
    background: linear-gradient(90deg, rgb(56, 244, 94), rgb(95, 252, 255));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.blue-gradient {
    background: linear-gradient(to right, #0099ff, #6894ff, #9f8dff, #cd82ff, #f674f1);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.red-gradient {
    background: linear-gradient(to right, #e13b51, #eb4e4d, #f36049, #fa7245, #ff8443);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.pink-gradient {
    background: linear-gradient(90deg, rgb(255, 95, 244), rgb(255, 188, 65));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.yellow-gradient {
    background: linear-gradient(90deg, rgb(255, 188, 65), rgb(255, 95, 244));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Maximos */

@media (max-width: 576px) {
    .bubble-blue {
        display: none;
    }
    .bubble-pink {
        display: none;
    }
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
    }
    .home .text {
        margin-top: 150px;
        font-size: 52px;
        text-wrap: balance;
        text-align: center;
    }
    .contact {
        width: 100%!important;
    }
    .aboutme p {
        font-size: 34px!important;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .project {
        flex-direction: column!important;
        height: 600px!important;
    }

    .project header {
        overflow: auto!important;
    }

    .project h2 {
        margin-top: 30px;
    }

    .aboutme article {
        flex-direction: column;
    }
}

/* Minimos */

@media (min-width: 100px) {
    .container {
        width: 100%;
    }
    .nav-body {
        display: none;
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
    .aboutme div {
        padding-left: 15px;
    } 
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}